@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$text: #eaeaeb;
$text-disabled: #A0A4A8;
$text-active: #8AB5F4;
$background: #202124;

html {
	width: 100%;
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: $background;
	color: $text;
	font-family: "Roboto", sans-serif;
}

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	height: 12px;
	width: 12px;
	background: #1D1E21;
	border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
	background: #121314;
	border-radius: 1ex;
}
